/* You can add global styles to this file, and also import other style files */
@import url('styles/theme.css');

body {
  background-color: var(--color-background);
  color: var(--color-text);
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 20px;
  overflow-y: auto;
}

.card {
  margin: 1rem;
  padding: 1rem;
  border: 1px solid #ccc;
  width: 200px;
}
.card:hover {
  background-color: lightgray;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.card-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
  margin-top: 1rem;
  border: 1px solid black;
}
