/* You can add global styles to this file, and also import other style files */
@import url('styles/theme.css');

body {
  background-color: var(--color-background);
  color: var(--color-text);
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 1rem;
  overflow-y: auto;
}

.card {
  padding: 1rem;
  border: 1px solid var(--color-primary);
  border-radius: 0.5rem;
}
.card:hover {
  background-color: lightgray;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.card-list {
  padding-top: 1rem;
}

.card-list--grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
  gap: 1rem;
}

.card-list--row {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.75rem;
}

.card-list--row > * {
  display: block;
  width: 100%;
}

.card--grid {
  aspect-ratio: 1/1;
  padding: 1rem;
}

.card--row {
  width: 100%;
  box-sizing: border-box;
}
