<app-modal [title]="workoutExercise.exercise.name" (close)="close.emit()">
  @if (loading()) {
    <p>Loading...</p>
  } @else {
    <div class="card-list card-list--row">
      @for (set of sets(); track set.id) {
        @if (editingSetId() === set.id) {
          <app-set-edit-form
            [set]="set"
            [fieldLabels]="trackedFieldLabels()"
            (save)="onSetSave($event)"
            (cancel)="editingSetId.set(null)"
            (delete)="onSetDelete($event)"
          />
        } @else {
          <app-set-card
            variant="row"
            [set]="set"
            [fieldLabels]="trackedFieldLabels()"
            (select)="editingSetId.set($event)"
          />
        }
      } @empty {
        <p>No sets logged yet.</p>
      }
    </div>
    @if (!editingSetId()) {
      <app-button variant="create" label="Add Set" (action)="addSet()" />

    }
  }
</app-modal>
